APP_ENV=local
APP_DEBUG=true
APP_KEY="09ujIOAJSa8MAOEVEMPRACA809suJIOKAJ3"


DB_HOST=localhost
DB_DATABASE=root
DB_USERNAME=root
DB_PASSWORD=

CACHE_DRIVER=file
SESSION_DRIVER=file
QUEUE_DRIVER=sync

GIB_AES_KEY="iwjHAUISHIAUHSIUAUJSNW2#"
JWT_KEY="OPMK092ujMKASA_=ASKO2s"